<mat-toolbar color="primary">
  <button routerLink="" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>receipt</mat-icon>
  </button>
  <span style="cursor: pointer" routerLink="">masraff</span>
  <span class="example-spacer"></span>
  <button routerLink="auth" [queryParams]="{ register: true }" mat-flat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    Üye ol
    <mat-icon color="primary">assignment</mat-icon>
  </button>
  <button routerLink="auth" [queryParams]="{ login: true }" mat-flat-button class="example-icon icon-margin-left" aria-label="Example icon-button with share icon">
    Giriş yap
    <mat-icon color="primary">login</mat-icon>
  </button>
</mat-toolbar>
