.container {
  padding: 30px 5%;
}

.example-container{
  text-align: center
}

.form-container{
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-field{
  display: block
}

@media only screen and (max-width: 820px) {
  .container {
    padding: 10px 2px;
  }

  .form-container{
    width: 400px;
    margin: 0 auto;
    margin-top: 10px
  }

}
