<div class="container">
  <div fxLayout fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="30px">
    <div fxFlex="60%">
      <mat-card
        style="
          box-shadow: none;
          border-radius: 5px;"
      >

        <mat-tab-group mat-align-tabs="center"
                       [selectedIndex]="selected.value"
                       (selectedIndexChange)="selected.setValue($event)">
          <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
            <br />
            <br />
            <ng-container *ngIf="index == 0">
              <div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px">
                <div class="example-container">
                  <div class="form-container">
                    <form [formGroup]="loginForm" (submit)="login()">
                      <mat-form-field class="form-field" appearance="outline">
                        <mat-label>E-mail</mat-label>
                        <input matInput formControlName="email" required>
                        <mat-error *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
                          <span *ngIf="loginForm.controls.email.errors.required">Bu alan zorunlu.</span>
                          <span *ngIf="loginForm.controls.email.errors.pattern">Geçersiz email adresi.</span>
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Parola</mat-label>
                        <input matInput formControlName="password" type="password" [type]="hide1 ? 'password' : 'text'" required>
                        <button mat-icon-button matSuffix (mouseleave)="hide1 = !hide1" (mouseenter)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                          <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
                          <span *ngIf="loginForm.controls.password.errors.required">Bu alan zorunlu.</span>
                          <span *ngIf="loginForm.controls.password.errors.minlength">Parola en az 6 karakterden oluşmalı.</span>
                        </mat-error>
                      </mat-form-field>
                      <button style="width: 100%" mat-raised-button color="primary" type="submit">Giriş yap</button>
                    </form>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="index == 1">
                <div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px">
                  <div class="example-container">
                    <div class="form-container">
                      <form [formGroup]="registerForm" (submit)="register()">

                        <mat-form-field class="form-field" appearance="outline">
                          <mat-label>İsim</mat-label>
                          <input matInput formControlName="firstName" required>
                          <mat-error *ngIf="registerForm.controls.firstName.touched && registerForm.controls.firstName.invalid">
                            <span *ngIf="registerForm.controls.firstName.errors.required">Bu alan zorunlu.</span>
                          </mat-error>
                        </mat-form-field>

                        <mat-form-field class="form-field" appearance="outline">
                          <mat-label>Soyisim</mat-label>
                          <input matInput formControlName="lastName" required>
                          <mat-error *ngIf="registerForm.controls.lastName.touched && registerForm.controls.lastName.invalid">
                            <span *ngIf="registerForm.controls.lastName.errors.required">Bu alan zorunlu.</span>
                          </mat-error>
                        </mat-form-field>

                        <mat-form-field class="form-field" appearance="outline">
                          <mat-label>E-mail</mat-label>
                          <input matInput formControlName="email" required>
                          <mat-error *ngIf="registerForm.controls.email.touched && registerForm.controls.email.invalid">
                            <span *ngIf="registerForm.controls.email.errors.required">Bu alan zorunlu.</span>
                            <span *ngIf="registerForm.controls.email.errors.pattern">Geçersiz email adresi.</span>
                          </mat-error>
                        </mat-form-field>

                        <mat-form-field class="form-field" appearance="outline">
                          <mat-label>Parola</mat-label>
                          <input matInput formControlName="password" type="password" [type]="hide2 ? 'password' : 'text'" required>
                          <button mat-icon-button matSuffix (mouseleave)="hide2 = !hide2" (mouseenter)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                            <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </button>
                          <mat-error *ngIf="registerForm.controls.password.touched && registerForm.controls.password.invalid">
                            <span *ngIf="registerForm.controls.password.errors.required">Bu alan zorunlu.</span>
                            <span *ngIf="registerForm.controls.password.errors.minlength">Parola en az 6 karakterden oluşmalı.</span>
                          </mat-error>
                        </mat-form-field>

                        <mat-form-field class="form-field" appearance="outline">
                          <mat-label>Parola tekrar</mat-label>
                          <input matInput formControlName="passwordConfirm" type="password" [type]="hide3 ? 'password' : 'text'" required>
                          <button mat-icon-button matSuffix (mouseleave)="hide3 = !hide3" (mouseenter)="hide3 = !hide3" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide3">
                            <mat-icon>{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </button>
                          <mat-error *ngIf="registerForm.controls.passwordConfirm.touched && registerForm.controls.passwordConfirm.invalid">
                            <span *ngIf="registerForm.controls.passwordConfirm.errors.required">Bu alan zorunlu.</span>
                            <span *ngIf="registerForm.controls.passwordConfirm.errors.minlength">Parola en az 6 karakterden oluşmalı.</span>
                          </mat-error>
                        </mat-form-field>

                        <button style="width: 100%" mat-raised-button color="primary" type="submit">Giriş yap</button>

                      </form>
                    </div>
                  </div>
                </div>
            </ng-container>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>

    <div fxFlex="40%">
      <mat-card *ngIf="selected.value == 0" style=" box-shadow: none; border-radius: 5px;">
        <img style="width: 100%; height: 100%" src="assets/images/login.png">
      </mat-card>

      <mat-card *ngIf="selected.value == 1" style=" box-shadow: none; border-radius: 5px;">
        <img style="width: 100%; height: 100%" src="assets/images/register.png">
      </mat-card>
    </div>
  </div>
</div>
