/*hide columns by index: not very scalable but neither are columns */
.hd-cl-1 th:nth-child(1), .hd-cl-1 td:nth-child(1),
.hd-cl-2 th:nth-child(2), .hd-cl-2 td:nth-child(2),
.hd-cl-3 th:nth-child(3), .hd-cl-3 td:nth-child(3),
.hd-cl-4 th:nth-child(4), .hd-cl-4 td:nth-child(4),
.hd-cl-5 th:nth-child(5), .hd-cl-5 td:nth-child(5),
.hd-cl-6 th:nth-child(6), .hd-cl-6 td:nth-child(6),
.hd-cl-7 th:nth-child(7), .hd-cl-7 td:nth-child(7),
.hd-cl-8 th:nth-child(8), .hd-cl-8 td:nth-child(8),
.hd-cl-9 th:nth-child(9), .hd-cl-9 td:nth-child(9),
.hd-cl-10 th:nth-child(10), .hd-cl-10 td:nth-child(10)
{
  display: none;
}
