<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  <div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px">
    <div class="example-container">
      <div class="form-container">
        <form [formGroup]="createOrUpdateForm" (submit)="create()">

          <mat-form-field class="form-field" appearance="outline" style="width: 100%">
              <mat-label>Şirket</mat-label>
              <input matInput formControlName="companyName" [value]="expense.companyName">
              <mat-error *ngIf="createOrUpdateForm.controls.companyName.touched">
                <span *ngIf="createOrUpdateForm.get('companyName').errors?.required">Bu alan zorunlu.</span>
              </mat-error>
            </mat-form-field>

          <mat-form-field class="form-field" appearance="outline" style="width: 100%">
            <mat-label>Toplam tutar</mat-label>
            <input matInput [value]="expense.totalAmount" formControlName="totalAmount">
            <mat-error *ngIf="createOrUpdateForm.controls.totalAmount.touched">
              <span *ngIf="createOrUpdateForm.get('totalAmount').errors?.required">Bu alan zorunlu.</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline" style="width: 100%">
            <mat-label>KVD tutarı</mat-label>
            <input matInput [value]="expense.vatAmount" formControlName="vatAmount">
            <mat-error *ngIf="createOrUpdateForm.controls.vatAmount.touched">
              <span *ngIf="createOrUpdateForm.get('vatAmount').errors?.required">Bu alan zorunlu.</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline" style="width: 100%">
            <mat-label>KDV oranı</mat-label>
            <mat-select [(value)]="expense.vatRate.amount" [disabled]="!isEditable">
              <mat-option *ngFor="let vatRate of vatRates" [value]="vatRate.amount">
                {{ vatRate.amount }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="createOrUpdateForm.controls.vatRate.touched">
              <span *ngIf="createOrUpdateForm.get('vatRate').errors?.required">Bu alan zorunlu.</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline" style="width: 100%">
            <mat-label>Para birimi</mat-label>
            <mat-select [(value)]="expense.currency.name" [disabled]="!isEditable">
              <mat-option *ngFor="let currency of currencies" [value]="currency.name">
                {{ currency.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="createOrUpdateForm.controls.currency.touched">
              <span *ngIf="createOrUpdateForm.get('currency').errors?.required">Bu alan zorunlu.</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline" style="width: 100%">
            <mat-label>Fiş numarası</mat-label>
            <input maxlength="6" minlength="6" matInput [value]="expense.receiptNo" formControlName="receiptNo">
            <mat-error *ngIf="createOrUpdateForm.controls.receiptNo.touched">
              <span *ngIf="createOrUpdateForm.get('receiptNo').errors?.required">Bu alan zorunlu.</span>
              <span *ngIf="createOrUpdateForm.get('receiptNo').errors?.minlength">En az 6 karakter olmalıdır.</span>
              <span *ngIf="createOrUpdateForm.get('receiptNo').errors?.maxlength">En çok 6 karakter olmalıdır.</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline" style="width: 100%">
            <mat-label>Fiş tarihi</mat-label>
            <input matInput [value]="expense.expenseDepositDate" [matDatepicker]="picker1" formControlName="receiptDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error *ngIf="createOrUpdateForm.controls.receiptDate.touched">
              <span *ngIf="createOrUpdateForm.get('receiptDate').errors?.required">Bu alan zorunlu.</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline" style="width: 100%">
            <mat-label>Fiş ödeme tarihi</mat-label>
            <input matInput [value]="expense.expenseDepositDate" [matDatepicker]="picker" formControlName="expenseDepositDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="createOrUpdateForm.controls.expenseDepositDate.touched">
              <span *ngIf="createOrUpdateForm.get('expenseDepositDate').errors?.required">Bu alan zorunlu.</span>
            </mat-error>
          </mat-form-field>

        </form>
      </div>
    </div>
  </div>
</div>

<div mat-dialog-actions style="justify-content: center">

    <ng-container *ngIf="title === 'İncele/Güncelle'">
      <button *ngIf="this.createOrUpdateForm.enabled" style="width: 40%" mat-flat-button color="warn" (click)="update()">
        Güncelle
      </button>
    </ng-container>

    <ng-container *ngIf="title === 'Yeni oluştur'" (click)="create()">
      <button *ngIf="this.createOrUpdateForm.enabled" style="width: 40%" mat-flat-button color="warn" (click)="create()">
        Oluştur
      </button>
    </ng-container>

  <button *ngIf="this.createOrUpdateForm.enabled" style="width: 40%" mat-stroked-button color="primary" (click)="disableForm()" cdkFocusInitial>İptal</button>
  <button *ngIf="this.createOrUpdateForm.disabled" style="width: 40%" mat-stroked-button (click)="onNoClick()">Kapat</button>
  <button *ngIf="this.createOrUpdateForm.disabled" style="width: 40%" mat-flat-button color="primary" (click)="enableForm()" cdkFocusInitial>Düzenle</button>
</div>

