<div class="container">
  <div fxLayout fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="30px">
    <div fxFlex="20%" *ngIf="isAuth">
      <mat-card
        style="height: 750px;
        box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;">
        <mat-card-header>
          <mat-card-title style="color: #7E57C2">Oluşturduğum masrafflar</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <mat-list>
            <cdk-virtual-scroll-viewport style="height: 750px" itemSize="10" >
              <ng-container>
                <mat-list-item *cdkVirtualFor="let expense of myExpenses; let i = index" style="font-size: 20px">
                  <div mat-line><b style="color: #7E57C2">{{expense.companyName}}</b></div>
                  <div mat-line style="margin-top: 4px"><b style="color: #7E57C2">{{expense.totalAmount}}{{expense.currency.name}}</b></div>
                  <div mat-line style="margin-top: 4px">{{expense.receiptDate | date}}</div>
                  <mat-divider></mat-divider>
                </mat-list-item>
              </ng-container>
            </cdk-virtual-scroll-viewport>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="100%">
      <mat-card  style="height: 750px;
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;">
        <app-data-list (valueChange)='updateMyExpenses($event)'></app-data-list>
      </mat-card>
    </div>
  </div>
</div>
